/* Add here all your css styles (customizations) */

/* Loading CSS */
.cssload-container {
    width: 100%;
    height: 75px;
    text-align: center;
}

.cssload-crazy-arrow {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    border: 8px solid;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-color: rgb(57,161,205);
    animation: cssload-spin 460ms infinite linear;
    -o-animation: cssload-spin 460ms infinite linear;
    -ms-animation: cssload-spin 460ms infinite linear;
    -webkit-animation: cssload-spin 460ms infinite linear;
    -moz-animation: cssload-spin 460ms infinite linear;
}



@keyframes cssload-spin {
    100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
    100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
    100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
    100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
/* End Loading CSS */

/* Center Text */
.centerText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
/* End Center Text */

/* Custom Css */
span > p.textError {
    color: #a94442 !important;
}
/* End Custom Css */

/* Tamaño de botones */
.btnFix {
    padding: 3px 5px !important;
    font-size: 12px !important;
}
/* End Tamaño de botones */

/* Custom text Color */
.text-white {
    color: #ffffff !important;
}
/* End Custom text Color */

/* Avatar Image Center */
.centerImage {
    height: 250px;
    left: 50%;
    margin-left: -125px;
    position: inherit;
    top: 50%;
    width: 250px;
}
/* End Avatar Image Center */

/* Fix PlaceHolder */
::-moz-placeholder {
    opacity: 0.5 !important;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
:-moz-placeholder {
    opacity: 0.5 !important;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
:-ms-input-placeholder {
    opacity: 0.5 !important;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
::-webkit-input-placeholder {
    opacity: 0.5 !important;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
/* End Fix PlaceHolder */

/* Vue Upload */
.flex-center {
    align-items: center;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.vue-dropzone {
    margin-bottom: 30px;
}

.vue-image {
    margin-right: 10px;
&:last-child {
     margin-right: 0;
 }
}
/* Fin Vue Upload */

/* Estilos para efecto de Vue */
.animated.v-enter {
    animation: fadein .5s;
}

.animated.v-leave {
    animation: fadeout .5s;
}

@keyframes fadein {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadeout {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(0);
    }
}

/* Nuevos Estilos */

.alert-sea {
    background-color: #1abc9c;
    border-color: #1abc9c;
    color: #ffffff;
}

.alert-sea hr {
    border-top-color: #167b63;
}

.alert-sea .alert-link {
    color: #e6e5e5;
}